@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background: url(../img/bckgr-index.jpg);
    color: #fff;
}

.navbar {
    list-style: none;
    display: flex;
}
.header {
    background: rgb(0, 0, 0);    
}
.nav {
    width: 926px;
    margin: auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    

    /* border: #fff 1px solid; */
}
.navbar {
}
.navbar__item, .login {
    /* border: red solid 1px; */
    display: flex;
    align-items: center;
    padding: 0 22px;
}
.nav a{
    text-decoration: none;
    color: #fff;
}
.navbar__item--active{
    position:relative;
}
.navbar__item--active:after{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    width:60%;
    height:2px;
    margin-left:-30%;
    border-top:5px solid #fff;
}
.login i{
    color: rgb(153, 151, 151);
    padding-right: 13px;
}
.navbar__item:hover, .login:hover{
    cursor: pointer;
    background: rgb(37, 37, 37);
    color: #fff;
}
.login {
}
.main {
}
.logo{
    width: 926px;
    height: 204px;
    margin: auto;
    
}
.logo img{
}
.cool-section {
}
.card {
}
.card__logo {
}
.card__body {
}
.white-section {
}
.news {
}
.news__article {
}
.news__item {
}
.news__time {
}
.btn.news__all {
}
.photo {
}
.photo__item {
}
.btn {
}
.info {
}
.info__item {
}
.appointment {
}
.appointment__form {
}
.appointment__input {
}
.footer {
}
.footer__item {
}
.footer__icon {
}
