@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: black;
    background-color: rgb(246, 246, 243);
}
.bckgr-index {
    background: url(../img/bckgr-index.jpg);
}
.navbar, .login {
    list-style: none;
    display: flex;
}
.header {
    font-size: 16px;
    color: #fff;
    background: rgb(0, 0, 0);
}
.nav {
    width: 926px;
    margin: auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
}
.navbar {
}
.navbar__item, .login__item {
    display: flex;
    align-items: center;
    padding: 0 22px;
}
.nav a{
    text-decoration: none;
    color: #fff;
}
.navbar__item--active{
    position:relative;
}
.navbar__item--active:after{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    width:60%;
    height:2px;
    margin-left:-30%;
    border-top:5px solid #fff;
}
.login__link i{
    color: rgb(153, 151, 151);
    padding-right: 13px;
}
.navbar__item:hover, .login__item:hover{
    cursor: pointer;
    background: rgb(37, 37, 37);
}
.login {
}
.container {
    width: 926px;
    margin: auto;
    display: block;
}
.main {
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 57px 0;

}
.logo__img{
    width: 367px;
    height: auto;
}
.cool-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-card {
    display: grid;
    justify-items: center;
    gap: 10px;
    color: #fff;
}
.info-card__title {
    font-size: 30px;
}
.info-card__rmb  {
    font-size: 32px;
    color: #fff;
}
.info-card__body {
    text-align: center;
}
.info-card__body p {
    margin-bottom: 6px;
}
.white-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    color: black;
    padding: 50px;
    gap: 50px;
    margin-top: 35px;
}
.page-title {
    font-size: 28px;
    line-height: 28px;
}
.title-h2 {
    font-size: 30px;
    line-height: 30px;
}
.title-h3 {
    font-size: 24px;
    line-height: 30px;
}
.title-h3--padding {
    padding-top: 54px;
    padding-bottom: 24px;
}
.title-h1--line {
    overflow: hidden;
    text-align: center;
    font-size: 48px;
    line-height: 42px;
}
.title-h1--line:before,
.title-h1--line:after {
	content: "";
    display: inline-block;
    height: 2px;
    top: -4px;
    width: 50%;
    position: relative;
    vertical-align: middle;
    background-color: #000000;
}
.title-h1--line:before {
    right: 24px;
    margin-left: -50.3%;
}
.title-h1--line:after {
    left: 16px;
    margin-right: -51.2%;
}




.white-section--padding {
    display: grid;
    padding: 0 10px;
}
.news__article {
}
.white-text {
    text-decoration: none;
    color: black;
    line-height: 24px;
}
.news__time {
    text-transform: none;
    font-style: italic;
    font-size: 14;
    font-weight: 400;
}
.news__all {
    align-self: end;
}
.photo, .info {
    gap: 35px;
    justify-self: center;
}
.photo__item {
}

.info {
}
.info__item {
}
.appointment {
}
.appointment__form {
    overflow:hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.appointment__input {
    padding-left: 15px;
    height: 37px;
    border: 2px black solid;
}
.appointment__input::placeholder{
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.appointment__form button{
    align-self: end;
    width: calc(100% + 100% + 20px)
}
.footer {
    background-color: rgb(37, 37, 37);
    color: #fff;
    margin-top: 35px;
}
.footer-mine {
    width: 926px;
    height: 195px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-address p{
    margin-bottom: 10px;
}
.footer-social, .footer-author {
    display: block;
    text-align: center;
}
.social{
    list-style: none;
    display: flex;
    /* border: #fff 1px solid; */
}
.social__item {

}
.social__link {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    background-color: black;
    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}
.social__link:hover, .btn__footer--hover:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
}
.btn-block {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
}
.btn--hover:hover{
    cursor: pointer;
    background-color: rgb(102, 61, 21);
    color: black;
}
.btn { 
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background-color: black;
    height: 43px;
    width: 81px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #fff 1px solid; */
}
.btn__footer {
    margin: 4px;
}

.footer__icon {
}


/* ------------ price.html ----------------- */


.breadcrumbs {
    list-style: none;
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
}
.breadcrumbs__rb {
    padding-left: 15px;
    padding-right: 15px;
}
.breadcrumbs__item {
}
.breadcrumbs__link {
    text-decoration: none;
    color: #000000;
}
.men-classic {
}
.blok-title {
}
.block_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
}
.facilities {
    /* border: red 1px solid; */
}
.facilities__title {
}
.facilities__ul {
    /* border: 3px rebeccapurple solid; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
}
.facilities__item {
    line-height: 2.5;
    list-style-type: none                                                                                                               ;
}
.facilities__item::before{
    padding-right: 12px;
    content: '\25C6';
}
.about {
    display: grid;
}
.about__title {
}
.about__body {
    line-height: 2;
}
.price {
    display: grid;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, tr, th {
    border: 2px solid black;
}
tr, th {
    width: 50%;
    height: 42px;
}
.price__name {
    text-align: start;
    padding-left: 20px;
}
.price__table {
}
.price__body {
    align-self: end;
}

/* ----------- catalog.html -------------- */
.main-grid {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto 10%;
    gap: 20px;
    padding-top: 55px;
}
.filter {
}

.checkbox p, .radio p {
    margin-bottom: 14px;
}
.checkbox label, .radio label {
    margin-left: 20px;
    font-size: 14px;
    line-height: 18px;
}
.filter-title {
    font-size: 24px;
    line-height: 18px;
    padding-bottom: 33px;
}
.radio {
    padding-top: 40px;
}
.radio__title {
}
.card-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, auto));
    grid-template-rows: repeat(auto-fit, minmax(280, auto));
    gap: 20px;
}
.card {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}
.card:hover {
    box-shadow: 5px 5px 25px 0 rgba(0, 1, 1, 0.3);
}
.card__content {
    padding: 12px;
}
.card__img {
    width: 100%;
}
.card__text {
    padding-top: 16px;
    padding-bottom: 10px;
}
.card__name {
    font-size: 14px;
    line-height: 14px;
}
.card__description {
    font-size: 14px;
    line-height: 22px;
    text-transform: none;
}
.buy {

}
.buy__price {
    display: flex;
    width: 100%;
    background-color: rgb(229, 229, 229);
    justify-content: center;
    align-items: center;
}
.buy__button {
}

.pagination {
    padding-bottom: 30px;
    padding-top: 30px;
    list-style: none;
    display: flex;
}
.pagination__item {
    color: #fff;
}
.pagination__link {
    text-decoration: none;
    color: #fff;
    background-color: black;
    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}
.pagination__link--activ {
    text-decoration: none;
    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    background-color: #fff;
    color: black;
}
.pagination__link:hover {
    cursor: pointer;
    background-color: rgb(102, 61, 21);
    color: black;
}
/* ---------- item.html ---------------- */

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-top: 55px;
}

.product__img {
}
.product__img--big {
    width: 100%;
}
.product__img--litel {
    /* display: flex;
    justify-content: space-between;
    padding-top: 25px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-top: 25px;
    width: 100%;
}
.shadow {
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}
.product__details {
}
.product__title-h1 {
    font-size: 30px;
    line-height: 26px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 24px;
}
.product__title-h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 40px;
}
.product__ava {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
}
.product__pn {
    font-size: 14px;
    line-height: 24px;
    color: #aeaeae;
}
.product__description {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 70px;
}
.product__title-h3 {
    font-size: 24px;
    line-height: 42px;
    padding-bottom: 30px;
}
.buy.btn-block {
}
.buy__price {
}
.btn.buy__btn.btn--hover {
}

.product__ul {
    line-height: 1.5;
    list-style-type: none;
}
.product__item::before {
    padding-right: 12px;
    content: '\25C6';
}
.login {

		/* .login__item */

		&__item {
		}

		/* .login__link */

		&__link {
		}
}
.fas {
}
.fa-sign-in-alt {
}


/* --------------- modal ---------------- */


.modal {
    display: grid;
    width: 430px;
    height: 460px;
}
.modal_container {
    padding: 50px 70px;
}
.modal__title, .midal__text {
    padding-bottom: 25px;
}

.appointment__form {
    overflow:hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.appointment__input {
    padding-left: 15px;
    height: 37px;
    border: 2px black solid;
}
.appointment__input::placeholder{
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.appointment__form button{
    align-self: end;
    width: calc(100% + 100% + 20px)
}

.modal__form {
    display: grid;
    gap: 10px;

}
.modal__form input {
    border: black 2px solid;
    padding: 10px;
    font-size: 14px;
}
.modal__form input::placeholder, .modal__form input{
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.modal__form input:focus {
    border: 2px rgb(102, 61, 21) solid;
}
.modal__forget {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.modal__forget input[type="checkbox"] {
    margin-right: 12px;
}
.form__forgot {
    justify-self: end;
    color: black;
}
.modal button {
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}